.btn-circle{
	border-radius: 25px;
	text-align: center;
	margin-bottom: 15px;
	height:45px;
	width:45px;
	background-color: rgb(211,211,211);

}

.btn-cart{
	background-color: rgb(0,0,0);
	color: #fff;
}


hr{
	border:2px solid rgb(255,255,10);
	width: 13%;
}


.main-price{
	font-size: 18px;
}

#talkBubble.btn.btn-default{
	position: relative;
	border-top-left:50px;
	border-bottom-left:50px ; 
}


p.text-center-custom{
	color: #A9A9A9;
	text-align: center;
}

p.text-center{
	margin-bottom: 0px;
}

b{
	font-size: 25px;
}

.free-shipping{
	top: 4px;
	right: 0px;
	position: absolute;
	background-color: rgb(0,0,0); 
	color: rgb(220,220,220);
	padding:2px;
	font-size: 12px;
}



@media(max-width: 768px){
	.center-block {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
  	}


  	.free-shipping{
  		top:15px ;
  		right:30px;
  		position: absolute;
		background-color: rgb(0,0,0); 
		color: rgb(220,220,220);
		padding:5px;
		font-size: 12px;
  	}

  	select.form-control{
  		display: inline-flex;
  	}
}


